<form class="ui form">
  <div class="field">
         <label>Telefonnummer:</label>
        <div class="five wide field">
        <input type="text" name="[Tel]" placeholder="Telefonnummer " >
      </div>
    </div>
  <div class="field">
    <label>Name:</label>
    <div class="two fields">
      <div class="field">
        <input type="text" name="[Vorname]" placeholder="Vorname">
      </div>
    <div class="field">
      <input type="text" name="[Nachname]" placeholder="Nachname">
    </div>
  </div>
</div>
<div class="field">
  <label>Adresse</label>
  <div class="fields">
    <div class="twelve wide field">
      <input type="text" name="[Adresse]" placeholder="Adresse">
    </div>
    <div class="four wide field">
      <input type="text" name="[hausNr]" placeholder="Haus Nr">
    </div>
  </div>
  <div class="fields">
    <div class="five wide field">
      <input type="text" name="[plz]" placeholder="PLZ">
    </div>
    <div class="six wide field">
      <input type="text" name="[ort]" placeholder="Ort">
    </div>
  </div>
</div>
  <div class="two fields">
    <div class="field">
      <label>Getränke</label>
      <select class="ui fluid dropdown">
        <option value="">Getränke</option>
    <option value="g1">Getränk 1</option>
    <option value="g2">Getränk 2</option>
    <option value="g3">Getränk 3</option>
    <option value="g4">Getränk 4</option>
    <option value="g5">Getränk 5</option>
    <option value="g6">Getränk 6</option>
    <option value="g7">Getränk 7</option>
    
      </select>
    </div>
  </div>
  <!-- klick box für später
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>I agree to the Terms and Conditions</label>
    </div>
 
  </div>
   -->

   <!--Muss noch was gemacht werdern  -->
  <button class="ui button" type="submit">Bestellen</button>
</form>