<div class="grid">
<form class="ui form">
<div class="field">
       <label>Pizza name:</label>
      <div class="five wide field">
      <input type="text" name="[PizzaName]" placeholder="Pizza Namme" >
    </div>
  </div>
<div class="field">
  <label>Belage:</label>
  <div class="two fields">
    <div class="field">
      <input type="text" name="[Belag]" placeholder="Belag">
    </div>
</div>
</div>
<div class="field">
  <!--
<label>Adresse</label>
<div class="fields">
  <div class="twelve wide field">
    <input type="text" name="[Adresse]" placeholder="Adresse">
  </div>
  <div class="four wide field">
    <input type="text" name="[hausNr]" placeholder="Haus Nr">
  </div>
</div>
<div class="fields">
  <div class="five wide field">
    <input type="text" name="[plz]" placeholder="PLZ">
  </div>
  <div class="six wide field">
    <input type="text" name="[ort]" placeholder="Ort">
  </div>
</div>
</div>
-->
</div>