<div class="ui special cards">
<div class="pop" *ngIf=Show >
<div class="contentBack"  >
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea  est Lorem ipsum dolor sit amet.</p>
  <button class="ui primary button" (click)='closepop()'>Bestätigen</button>
</div>
</div>
<div class="card">
<div class="content">
  <h3 class="header">Pizza name ?!</h3>
</div>
<div class="blurring active dimmable image">
  <div class="ui dimmer">
    <div class="content">
      <div class="center">
        <p> orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
          <div class="ui inverted button" (click)='openpop()'  (blur)='closepop()'>Mehr Info</div>
      </div>
    </div>
  </div>
  <div class="imgContainer">
    <img
    src="https://cdn.pixabay.com/photo/2013/07/13/09/36/pizza-155771_960_720.png"
  />
  </div>
</div>
<div class="content">
<a class="header" >Preis?!</a>
</div>
<div class="ui styled accordion">
<div class="title">
  <i class="dropdown icon"></i>
  <a class="header">Größe</a>
</div>
<div class="content">
<div class="grouped fields">


  <div class="field">
    <div class="ui radio checkbox">
      <input type="radio" id="1" name="gr">
      <label>⌀ 20cm</label>
    </div>
  </div>
  <div class="field">
    <div class="ui radio checkbox">
      <input type="radio"  id="2" name="gr">
      <label>⌀ 28cm</label>
    </div>
  </div>
  <div class="field">
    <div class="ui radio checkbox">
      <input type="radio"  id="3" name="gr">
      <label>⌀ 36cm</label>
    </div>
  </div>
  <div class="field">
    <div class="ui radio checkbox">
      <input type="radio"  id="4" name="gr">
      <label>⌀ 40cm</label>
    </div>
  </div>
  <button class="ui teal button">Hinzufügen</button>
</div>
</div>
</div> 
</div>


<div class="pop" *ngIf=Show >
<div class="contentBack"  >
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea  est Lorem ipsum dolor sit amet.</p>
  <button class="ui primary button" (click)='closepop()'>Bestätigen</button>
</div>
</div>

<div class="card">
<div class="content">
  <h3 class="header">Pizza name ?!</h3>
</div>
<div class="blurring active dimmable image">
  <div class="ui dimmer">
    <div class="content">
      <div class="center">
        <p> orem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
          <div class="ui inverted button" (click)='openpop()'  (blur)='closepop()'>Mehr Info</div>
      </div>
    </div>
  </div>
  <div class="imgContainer">
    <img
    src="https://cdn.pixabay.com/photo/2013/07/13/09/36/pizza-155771_960_720.png"
  />
  </div>
</div>
<div class="content">
<a class="header" >Preis?!</a>
</div>
<div class="ui styled accordion">
<div class="title">
  <i class="dropdown icon"></i>
  <a class="header">Größe</a>
</div>
<div class="content">
<div class="grouped fields">


  <div class="field">
    <div class="ui radio checkbox">
      <input type="radio" id="1" name="gr">
      <label>⌀ 20cm</label>
    </div>
  </div>
  <div class="field">
    <div class="ui radio checkbox">
      <input type="radio"  id="2" name="gr">
      <label>⌀ 28cm</label>
    </div>
  </div>
  <div class="field">
    <div class="ui radio checkbox">
      <input type="radio"  id="3" name="gr">
      <label>⌀ 36cm</label>
    </div>
  </div>
  <div class="field">
    <div class="ui radio checkbox">
      <input type="radio"  id="4" name="gr">
      <label>⌀ 40cm</label>
    </div>
  </div>
  <button class="ui teal button">Hinzufügen</button>
</div>
</div>
</div> 
</div>
</div>
